div(style='background: #eee; padding: 13px; color: #000; font-weight: 300; padding-bottom: 0px;')
  .container
    .row
      .col-md-6.col-lg-6
        h4 Rephone.Co
        p © 2015 rephone.co. All rights reserved.
        p All product names, logos, and brands are property of their respective owners. All company, product and service names used in this website are for identification purposes only. 
        
        p 
          b rephone®
          | &nbsp;is a trademark of Seeed Development Limited and is used with its permission.
      .col-md-2.col-lg-2.col-md-offset-1.col-lg-offset-1
        h4 Contribute
        a(href='https://github.com/rephone/discussions/issues/new') Open an issue
        br
        a(href='https://github.com/rephone/discussions/issues') Answer a question
      .col-md-2.col-lg-2
        h4 About
        a(href='http://www.seeed.cc/rephone/') Rephone Official Website