meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
link(rel='icon', href='#{cdnServer}/favicon.ico?1.0', type='image/x-icon')
meta(name='google-site-verification' content='0ozzWbPdGW4lswc4sJuDobFbxLr9xuMVq7jW7_AFg_Q')
